@import url(http://fonts.googleapis.com/css?family=Roboto:700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(http://fonts.googleapis.com/css?family=Holtwood+One+SC);
@import url(http://fonts.googleapis.com/css?family=Voces);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 16, ../sass/screen.scss */
.start-menu {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 25px;
  font-family: 'Holtwood One SC', serif;
  text-align: center;
}
/* line 24, ../sass/screen.scss */
.start-menu .controls {
  text-align: center;
}
/* line 28, ../sass/screen.scss */
.start-menu h1 {
  color: #e74c3c;
  font-size: 2.0em;
  text-shadow: 0px 3px 0px #c0392b;
  margin: 10px;
}

/* line 37, ../sass/screen.scss */
.player-turn {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 25px;
  font-family: 'Holtwood One SC', serif;
  text-align: center;
}
/* line 45, ../sass/screen.scss */
.player-turn h1 {
  color: #e74c3c;
  font-size: 2.0em;
  text-shadow: 0px 3px 0px #c0392b;
  margin: 10px;
}

/* line 54, ../sass/screen.scss */
.ai-turn {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 25px;
  font-family: 'Holtwood One SC', serif;
  text-align: center;
}
/* line 62, ../sass/screen.scss */
.ai-turn h1 {
  color: #e74c3c;
  font-size: 2.0em;
  text-shadow: 0px 3px 0px #c0392b;
  margin: 10px;
}

/* line 71, ../sass/screen.scss */
.play-again-menu {
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 25px;
  font-family: 'Holtwood One SC', serif;
  text-align: center;
}
/* line 79, ../sass/screen.scss */
.play-again-menu h1 {
  color: #e74c3c;
  font-size: 2.0em;
  text-shadow: 0px 3px 0px #c0392b;
  margin: 10px;
}

/* line 88, ../sass/screen.scss */
.play-button {
  border: 0;
  border-radius: 7px;
  padding: 0 17px;
  background: #e74c3c;
  display: inline-block;
  width: 99px;
  border-bottom: 5px solid #c0392b;
  color: white;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

/* line 104, ../sass/screen.scss */
.play-button:active {
  border-bottom: 0px solid #c0392b;
}

/* line 108, ../sass/screen.scss */
.play-again-button {
  border: 0;
  border-radius: 7px;
  padding: 0 17px;
  background: #e74c3c;
  display: inline-block;
  width: 199px;
  border-bottom: 5px solid #c0392b;
  color: white;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
}

/* line 124, ../sass/screen.scss */
.play-again-button:active {
  border-bottom: 0px solid #c0392b;
}
